@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    background-color: #0000aa;
}

nav {
    position: fixed;
    top: 0;
}

#banner {
    background-color: #0099EE;
}

#empresa {
    background-color: #0066ee;
}

#produtos {
    background-color: #0033ee;
}

.produtos__itens img {
    width: 150px;
}

#acessorios {
    background-color: #0000ee;
}