@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #fff;
}

header, footer {
    background-color: #0000aa;
}

header {
    width: 100%;
    box-shadow: 1px 1px 1px #00000070;
    position: fixed;
    top: 0;

    nav {

        ul {

            display: flex;
            justify-content: flex-end;
            list-style: none;
            
                li {
                    padding: 5px 0;
                    margin: 5px 20px;
                    text-decoration: none;

                    a{
                        text-decoration: none;
                        font-size: 25px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
    }
}

#banner {
    background-image: url("../images/images_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 600px;
    display: flex;
    align-items: center;
    padding: 70px;
}

#banner img { 
    width: 250px;
}

.banner__texto {
    font-size: 45px;
    margin-left: 30px;
    /* color: #0000aa; */
}


#empresa {
    background-color: #0066ee;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 95px;
        padding: 25px;
    }
}

#empresa__box {
    display: flex;
    justify-content: space-evenly;
    margin: 70px;
}

.empresas__img {display: flex;
    flex-direction: column;
    gap: 70px;
}

#empresa__box img {
    width: 600px;
    border-radius: 0 80px 0 80px;
}

#empresa__text {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

#empresa__text h3 {
    margin-bottom: 10px;
}

#empresa__text p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.empresas__img img {
    width: 550px;
}

#empresa__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    margin-left: 50px;
}

#empresa__text h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

#empresa__text p {
    font-size: 20px;
    margin-bottom: 15px;
}

#produtos {
    background-color: #0033ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#produtos__box {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 900px;
    min-width: 850px;
}

#produtos__box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 150px;
    margin: 15px;
}

.produtos__itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0 30px;
    box-shadow: 2px 2px 5px #000000;
    max-width: 150px;
    padding: 15px;
}

.produtos__itens img {
    width: 150px;
    border-radius: 5px;
}

.produtos__itens p {
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    color: #000000;
}
