@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #fff;
}

header, footer {
    background-color: #0000aa;
}

header nav {
    width: 100%;
    box-shadow: 1px 1px 5px #00000070;

    ul {
        display: flex;
        justify-content: flex-end;

        li { 
            padding: 5px;
            list-style: none;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 22px;
                padding: 10px 25px;
            }
        }
    }
    
}

#banner {
    background-image: url("../images/images\ \(1\).jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    padding: 70px;
}

#banner img { 
    width: 250px;
}

.banner__texto {
    font-size: 45px;
    margin-left: 30px;
    /* color: #0000aa; */
}


#empresa {
    background-color: #0066ee;

    h1 {
        font-size: 85px;
        padding: 25px;
    }
}

#empresa__box {
    display: flex;
    align-items: stretch;
}

.empresas__img img {
    width: 550px;
}

#empresa__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    margin-left: 50px;
}

#empresa__text h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

#empresa__text p {
    font-size: 20px;
    margin-bottom: 15px;
}

#produtos {
    background-color: #0033ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#produtos__box {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 900px;
    min-width: 850px;
}

#produtos__box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 150px;
    margin: 15px;
}

.produtos__itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0 30px;
    box-shadow: 2px 2px 5px #000000;
    max-width: 150px;
    padding: 15px;
}

.produtos__itens img {
    width: 150px;
    border-radius: 5px;
}

.produtos__itens p {
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    color: #000000;
}
