@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    width: 100vw;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header, footer {
    background-color: #0000aa;
}


nav{
    background-color: #a9b9ff;
    box-shadow: 1px 1px 1 px #00000070;
    position: fixed;
    top: 0;
    
    ul {
        display: flex;
        justify-content: flex-end;
        
        li {
            padding: 5px 0;
            list-style: none;
            
            a {
                color: #fff;
                text-decoration: none;
                font-size: 22px;
                display: block;
                padding: 10px 25 px;
                width: 100%;
            }
        }
    }
}

#banner {
    background-image: url("../images/images\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    z-index: -1;
    padding: 70px;
}

.banner__texto {
    padding: 10px;
    gap: 10px;
}

.banner__texto h1 {
    font-size: 120px;  
}

.banner__texto h2 {
    font-size: 50px;
}

.banner__texto h3 {
    font-size: 30px;
}

#banner img { 
    width: 150px;
}

#empresa {
    background-color: #0066ee;
    display: flex;
    flex-direction: column;
    padding: 70px;
    border: 2px solid red;
}

#empresa__box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#empresa__box img {
    width: 400px;
    border-radius: 0 80px 0 80px;
    border: 2px solid red;
}
.empresas__img {display: flex;
    flex-direction: column;
    width: 500px;
    border: 2px solid #fff;
    gap: 30px;
}

#empresa__text {
    pad: 0 50px;
    border: 2px solid red;
    text-align: center;
    width: 800px;
}

#empresa__text p {
    width: 100%;
}

#produtos {
    background-color: #0033ee;
}

.produtos__itens img {
    width: 150px;
}

#produtos__box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 900px;
    max-width: 950px;
}