@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header, footer {
    background-color: #0000aa;
}

#banner {
    background-color: #0099EE;
}

#banner img { 
    width: 150px;
}

#empresa {
    background-color: #0066ee;
}

#produtos {
    background-color: #0033ee;
}

.produtos__itens img {
    width: 150px;
    border-radius: 10px;
}

#acessorios {
    background-color: #0000ee;
}

#modelos {
    background-color: rgb(17, 101, 179);
}

.modelos__itens {
    border: 2px solid #000000;
    display: flex;
    align-items: center;
}

.modelos__itens img {
    width: 350px;
}